body {

    background-color: cadetblue;

    color: pink
}

tbody{


    color: black;
        text-shadow:
          0 0 7px rgb(255, 255, 255),
          0 0 10px rgb(255, 255, 255),
          0 0 21px rgb(255, 255, 255),
          0 0 42px rgb(255, 255, 255),
          0 0 82px rgb(255, 255, 255),
          0 0 92px rgb(255, 255, 255),
          0 0 102px rgb(255, 255, 255),
          0 0 151px rgb(255, 255, 255);;
}

thead{

    color: black;
}

.neon {

        color: greenyellow;
        text-shadow:
          0 0 7px rgb(0, 0, 0),
          0 0 10px rgb(0, 0, 0),
          0 0 21px rgb(0, 0, 0),
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
      }


      .neon2 {

        color: black;
        text-shadow:
          0 0 7px rgb(0, 0, 0),
          0 0 10px rgb(0, 0, 0),
          0 0 21px rgb(0, 0, 0),
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
        
      }

   
