
  html {
    background-image: linear-gradient(to right, red, orange
    ); 
  }

  .menu {
  
    margin: 10px;
 display: inline;
    background-color: tomato ;
    height: 500px;
    width: 300px;
    list-style:none;
border:2px solid yellow;
float: left;
text-align: center;}



a, a:active, a:visited {
    text-decoration: none; color:  orange;
  margin: 0px;
}
a:hover  {

    background-image: linear-gradient(to left, blue, yellow
    );;}


menu ul {
  
    padding: 0px;
    margin: 0px;
 
 border-bottom: 15px solid blue;

    font-size: 110%;
}
h2 {
    background-color: tomato;
    width: 500px;
    height: 100px;
    text-align: 10px ; 
    color: yellow;
    border: 2px solid yellow;
    padding: 10px;
    Font-style: italic ;
    
}.menu li {
    border-right-width: 0px ;
  border-style: solid;
  border-color: yellow; 
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-left-width: 1px;

}

.borda  {

 border: 10px;
 border-color: black;

    }

    .borderlist {
        list-style-position:inside;
        border: 1px solid yellow;
        flex-wrap: wrap;
    }

    
 .dp-menu ul {

    list-style-type: none
    ;
padding: 0px;
}
.dp-menu ul {
    background-color: var(html);
 padding: 0px;
}

.dp-menu ul li {

    display:block;
    position: relative ;
}
.dp-menu ul li a{
    transition: background .3s;
 color: yellow;
 display: inline-block;
 margin: 0px;
 padding: 0px;
 text-decoration: none;
 
}
 
/* sub menu*/
.dp-menu ul ul {
 display: none;
 left: 0;
   position: relative;
}
.dp-menu ul li:hover ul {
    display: block;
      
   }

 
   .subtitulo {
  margin: 24px;
  text-align: center;
 border: 2px;
  border-style: solid;
  border-color: yellow; 
   };;
   
   

   

   h2 ul li {

    border-right-width:2px ;
   }
   .dp-menu ul li:hover ul {
    display: block;
}
   
   ul  > .subtitulo {

    width: 100px;
   }

  .dp-menu ul li a {


    display: inline-block;
   }
   