 div {
     display: inline !important;
 }
 body {
     background: white;
    width: 100%;
 }

.form-group{
    background-color: white;
}

.form-group > .form-control {
    background-color: white;
  
    width: 500px;
}
.form-row {
 width: 500px;
    background-color: white;
}
form {
  
    background-color: #e6eaf5;
}
html {

    width: 100%;
    height: 100%;
}
.column {

    display: table-column;
} 

label {
text-size-adjust: 0.5em ;
    color: orange;
}
:root {

 background: #e6eaf5;
}
.btnL {
display: block;
}
.form-check {
 display: block;
 

}

div > .form-1 {
 
  display: inline-block  ;

}
select.form-control { 
 background-color: white;
    display: table-column;
}
select.form-control:hover {

    background: white;
}
input.form-control {
  width: 507px;
    background: white;
    border-radius: 20px;

}

.form-check {
    
    height: 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #0080ff;
    background-color: yellow;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div {
    margin: 0px;
}

.form-group {
   margin: 0px;
    background: white;
}
form {
   
 border-left: 200px;
    display: flex;
}
label {
    
}
div.form-check {
   
    display: block;
    padding-left:0
;
}
div.form-1 {
    background-color:white ;
  flex-wrap: wrap;
    display: block;
}
div.form-group {
 margin-left: 0px;
    height: 100px;
}
select#inputEstado {

    display: inline;
}
div.form-1{
    display: block;
}
input {
    display: flex;
}

.form-row {
  
    display: flex;
}
form {
    width: 100%;
    height: 500px

    ;
}

div.form-1 {
    height: auto;
    display: block;
}

input {
text-align: center;}

html {

    background-color: blue;
}


.form-check { 
    background-color: #e6eaf5 ;
}

.form-check > div {

    background-color: #e6eaf5;
}
div {
    border: 0px;
    text-align: center;
}

div.form-group {

    background: white;
}

.txtcolor {
 text-align: center;
    color: orange;
}
form {
  text-align: end;
  align-content: baseline;
    justify-content: center ;
}
    
.card {
    margin-top: 25px;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    width: auto;
    height: 700px;
    align-content: center;
    justify-content: center;
}


.card > button {

  align-content: center;
}

div.form-control {
    
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn {
    box-shadow: none;
    width: 250px;
    height: 50px;
}
.btn:hover {

   background:#0080ff(0, 0, 255);
   color:#fff;
   box-shadow: 0 10px 0 #0080ff;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
.col-7 {

   width: 60%;
    margin-left: 120px
;
}
.btn:hover{
    outline-offset: none;
  }